.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.Logo-container {
  float: left;
}

.App-header {
  background-color: #0E0C12;
  height: 10vh;
  width: 100%;
  font-size: calc(15px + 2vmin);
  color: #473366;
  position: sticky;
  top: 0;
}

.Title-name {
  text-align: center;
}

.Title-name a {
  color: #473366;
  text-decoration: none;
}

.Title-name a:hover {
  color: #473366;
}

.Tab {
  padding-right: 3vh;
}

.Tab a {
  float: right;
  color: #473366;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Tab a:hover {
  background-color: white;
  color: black;
}

section {
  background-color: #47424F;
  height: 200vh;
}
